<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="DA2_QLCHCFMHEntities" connectionString="metadata=res://*/DA2_QLCHCFMH.csdl|res://*/DA2_QLCHCFMH.ssdl|res://*/DA2_QLCHCFMH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;Initial Catalog=DA2_QLCHCFMH;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>